extends ./base.pug

block style
	link(rel='stylesheet' href="/static/css/register.css")

block main
	h1 회원 가입
	form#register(method='POST', action="/register")
		table
			tr
				td
					label(for='register-id') ID:
				td
					input#register-id(name='id', type='text')
			tr
				td
					label(for='register-pw') 비밀번호:
				td
					input#register-id(name='pw', type='password')
			tr
				td
					label(for='register-pw-again') 비밀번호 (재입력):
				td
					input#register-id(name='pw-again', type='password')
			tr
				td
					label(for='register-email') 이메일 주소:
				td
					input#register-email(name='email', type='email')
		input#register-submit(type='submit',value='가입하기')
